* {
    box-sizing: border-box;
    color: rgb(61, 61, 61);
    margin: 0;
    padding: 0;
}
.search {
    float: left;
    width: 50%;
    padding: 0 0.5em;
}

.upperTitle {
    text-align:left;
}

.portfolio {
    float: left;
    width: 50%;
    padding: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    .search, .upperTitle, .portfolio {
        width: 100%;
    }
}